* {
  margin: 0;
  padding: 0;
}

.todo {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.sidebar {
  background-color: violet;
  width: 25%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar .projectRow {
  font-size: 1.3rem;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
}

.container {
  background-color: blueviolet;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.container .row {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}

.new-todo {
  padding: 0.5rem 1.5rem;
}

dialog {
  margin: auto;
}

.modal::backdrop {
  background: purple;
}

.newProject {
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
  width: 70%;
  margin: 0 auto;
  border-radius: 1rem;
  border-style: none;
}
